<div class="card-header bg-secondary h">
  <!--ROW 1-->
  <div class="form-row">
    <div class="col">
      <span class="input-group-addon"><i class="fa fa-comments-o fa-1x fa-fw" style="color:white"></i></span>
      <h class="card-title">Sticker</h>
    </div>
  </div>
</div>

<form action="/sticker" method="post">
  <input type="hidden" name="servicePlace_Id" id="servicePlace_Id" value="{{servicePlace._id}}">
  <div class="accordion bg-dark h" id="accordionNewSticker">
    <div class="card-header" id="headingNewSticker">
      <h class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                data-target="#collapseNewSticker" aria-expanded="true"
                aria-controls="collapseNewSticker" style="font-size: 25px">
          <span class="input-group-addon"><i class="fa fa-file-o fa-1x fa-fw" aria-hidden="true"></i></span>
          &nbsp;Nuevo
        </button>
      </h>
    </div><!--card header-->
    <div id="collapseNewSticker" class="collapse" aria-labelledby="headingNewSticker"
      data-parent="#accordionNewSticker">
      <div class="card border-light text-center text-white bg-dark mb-3">
        {{>stickerFields}}
        <div class="form-row">
          <div class="col">
            <div class="input-group mb-3">
              <button class="btn btn-success btn-lg btn-block" type="submit">
                Crear
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
</br>
{{#if stickers}}
<div class="card-header bg-secondary h">
  <!--ROW 1-->
  <div class="form-row">
    <div class="col">
      <span class="input-group-addon"><i class="fa fa-comments-o fa-1x fa-fw" style="color:white"></i></span>
      <h class="card-title">Stickers creados</h>
    </div>
  </div>
</div>
<div class="card text-center text-white bg-dark mb-3">
{{>listStickers}}
</div

{{/if}}
