<div class="card text-center text-white bg-dark">
  <div class="card-header text-info bg-dark">{{header}}</div>
  <div class="card-body">
    <h5 class="card-title text-info">{{title}}</h5>
    <p class="card-text">{{text}}</p>    
  </div>
</div>
