<div class="card-body bg-dark">
  <!--ROW 1-->
  <div class="form-row">
    <div class="col">
      <label for="labelName" class="text-light">Nombre</label>
      <div class="input-group-lg mb-3">
          <input type="text" class="form-control-lg text-white bg-dark" id="contactFirstName"
            name="contactFirstName" placeholder="Nombre"
            {{#if contact}}
            value="{{contact.name}}"
            {{/if}}
            >
      </div>
    </div>
  </div><!--ROW 1-->
  &nbsp;
  <!--ROW 2-->
  <div class="form-row">
    <div class="col">
      <label for="labelLastName" class="text-light">Apellido</label>
      <div class="input-group-lg mb-3">
          <input type="text" class="form-control-lg text-white bg-dark" id="contactLastName"
            name="contactLastName" placeholder="Apellido"
            {{#if contact}}
            value="{{contact.lastName}}"
            {{/if}}
            >
      </div>
    </div>
  </div><!--ROW 2-->
  &nbsp;
  <!--ROW 3-->
  <div class="form-row">
    <div class="col">
      <label for="labelNumberID" class="text-light">Dirección</label>
      <div class="input-group-lg mb-4">
        <input type="text" class="form-control-lg text-white bg-dark custom-text" id="contactAddress"
          name="contactAddress" placeholder="Donde desea recibir el producto"
          {{#if contact}}
          value="{{contact.address}}"
          {{/if}}
          required>
      </div>      
    </div>
  </div><!--ROW 3-->

</div><!--CARD BODY-->
