<div class="container">
  <!--ROW 2-->
  <div class="form-row">
    <div class="col">
      <label for="labelPassword" class="text-light">Contrase単a</label>
      <div class="input-group-lg mb-3">
          <input type="password" class="form-control-lg text-white bg-dark"
            id="userPassword" name="userPassword" placeholder="Contrase単a">
      </div>
    </div>
  </div><!--ROW 2-->
  </br>
  <!--ROW 3-->
  <div class="form-row">
    <div class="col">
      <label for="labelPassword" class="text-light">Confirmar contrase単a</label>
      <div class="input-group-lg mb-3">
          <input type="password" class="form-control-lg text-white bg-dark"
            id="exampleInputPassword1" placeholder="Contrase単a">
      </div>
    </div>
  </div><!--ROW 3-->
  </br>
  <!--ROW 4-->
  <div class="form-row">
    <div class="col">
      <label for="labelPassword" class="text-light">Rol</label>
      <div class="input-group-lg">
        <select class="custom-select-lg text-white bg-dark" id="userRol" name="userRol">
          {{#if userSession}}
            <option value="admin" {{{getUserRolSelected userSession 'admin'}}}>Administrador</option>
            <option value="partner" {{{getUserRolSelected userSession 'partner'}}}>Socio</option>
            <option value="user" {{{getUserRolSelected userSession 'user'}}}>Usuario</option>
          {{else}}
            <option value="admin">Administrador</option>
            <option value="partner">Socio</option>
            <option selected value="user">Usuario</option>
          {{/if}}
        </select>
      </div>
    </div>
  </div><!--ROW 4-->
</div>  <!--<div class="container">-->
