<div class="container">
  <!--ROW 2-->
  <div class="form-row">
    <div class="col">
      <label for="labelPassword" class="text-light">Contrase単a</label>
      <div class="input-group-lg mb-3">
          <input type="password" class="form-control-lg text-white bg-dark"
            id="userPassword" name="userPassword" placeholder="Contrase単a">
      </div>
    </div>
  </div><!--ROW 2-->
  </br>
  <!--ROW 3-->
  <div class="form-row">
    <div class="col">
      <label for="labelPassword" class="text-light">Confirmar contrase単a</label>
      <div class="input-group-lg mb-3">
          <input type="password" class="form-control-lg text-white bg-dark"
            id="exampleInputPassword1" placeholder="Contrase単a">
      </div>
    </div>
  </div><!--ROW 3-->
  </br>
  <!--ROW 4-->
  <div class="form-row">
    <div class="col">
      <label for="labelPassword" class="text-light">Rol</label>
      <div class="input-group-lg">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary">
            <input type="radio" name="userRol" id="admin" autocomplete="off" value="admin"> Administrador
          </label>
          &nbsp;
          <label class="btn btn-secondary">
            <input type="radio" name="userRol" id="partner" autocomplete="off" value="partner"> Socio
          </label>
          &nbsp;
          <label class="btn btn-secondary active">
            <input type="radio" name="userRol" id="customer" autocomplete="off" value="user" checked> Usuario
          </label>
        </div>
      </div>
    </div>
  </div><!--ROW 4-->
</div>  <!--<div class="container">-->
