<div class="card">
  <div class="card-header bg-secondary h">
    <h class="card-title">Usuario. Sólo para socios</h>
  </div>
</div>
<div class="card text-center text-white">
  <div class="card-body bg-dark">
    {{>formUser}}
  </div><!--CARD BODY-->
</div><!--card-->
