{{>header}}
<div class="container">
  <!--Error message -->
  {{#if errorMsg}}
    {{>messageError}}
  {{/if}}
  <!--Success message -->
  {{#if successMsg}}
    {{>messageSuccess}}
  {{/if}}


      {{#if contact}}
      <div class="card">
        <div class="card-header bg-secondary h">
          <span class="input-group-addon"><i class="fa fa-user fa-1x fa-fw" style="color:white"></i></span>
          <h class="card-title">{{#if partner}} Socio {{else}} Aún no es socio {{/if}}</h>
        </div>
      </div>

      <div class="card-body bg-dark">
        <!--ROW 1-->
        <div class="form-row">
          <div class="col">
            <label for="labelLastName" class="text-light">
              {{contact.fullName}} -
              <a class="btn btn-link" style="font-size: 25px"
                href="/contact?cellPhoneToSearch={{contact.cellPhoneNumber}}"
                role="button">{{contact.cellPhoneNumber}}
              </a>
            </label>
          </div>
        </div>
      </div>
      </br>
      <!--SERVICE PLACE-->
      {{>screenServicePlace contact=contact servicePlace=servicePlace}}

      <!--ITEM-->
      {{>screenItem}}

      {{/if}} <!--end if contact-->
</div><!--end container-->
{{>footer}}
