{{>header}}
<div class="container">
  <!--Error message -->
  {{#if errorMsg}}
    {{>messageError}}
  {{/if}}
  <!--Success message -->
  {{#if successMsg}}
    {{>messageSuccess}}
  {{/if}}
  <form action="/contact" method="post">
    <input type="hidden" name="_contactId" id="_contactId"
      {{#if contact}}
      value="{{contact._id}}"
      {{/if}} >
    <div class="card">
      <div class="card-header bg-secondary h">
        <!--ROW 1-->
        <div class="form-row">
          <div class="col">
            <span class="input-group-addon"><i class="fa fa-user-plus fa-1x fa-fw" style="color:white"></i></span>
            <h class="card-title">Actualizar datos usuario</h>
          </div>
          <div class="col">

          </div>
        </div><!--ROW 1-->
      </div>
    </div>
    <div class="card text-center text-white">
      <div class="card-body bg-dark">
        <div class="form-row">
          <div class="col">
            {{>cellPhoneView}}
          </div>
        </div>
        <br>
      </div><!--CARD BODY-->
    </div>
    </br>
    <div class="card-header bg-secondary h">
      <span class="input-group-addon"><i class="fa fa-id-card fa-1x fa-fw" style="color:white"></i></span>
      <h class="card-title">Datos adicionales</h>
    </div>
    <div class="card text-center text-white">
      <div class="card-body bg-dark">
        {{>contactAdditionalInfo}}
        <div class="form-row">
          <div class="col">
            <div class="input-group-lg mb-3">
              <button class="btn btn-success btn-lg btn-block" type="submit">
                Actualizar
              </button>
            </div>
          </div>
        </div>
      </div><!--card body-->
    </div><!--card-->
    </br>

    {{#if showUserView}}
      <!--USER VIEW-->
      <div class="accordion bg-dark h" id="accordionUser">
        <div class="card-header" id="headingUser">
          <h class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseUser" aria-expanded="true"
                    aria-controls="collapseUser" style="font-size: 25px">
              Usuario
            </button>
          </h>
        </div><!--card header-->

        <div id="collapseUser" class="collapse" aria-labelledby="headingUser"
          data-parent="#accordionUser">
          {{>newUserView}}
        </div>

      </div>

      </br>
      </br>
        <div class="form-row">
          <div class="col">
            <div class="input-group mb-3">
              <button class="btn btn-success btn-lg btn-block" type="submit">Actualizar</button>
            </div>
          </div>
        </div>
      {{/if}}
    </form>
</div><!--CONTAINER-->
{{>footer}}
