{{>header}}
<div class="container" style="background-color:#8E44AD">
  <div class="form-group">
    <h3 align="center" class="card-title" style="color: white">Tienda online Paraíso violeta</h3>
    <br>
      <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          {{{getSlideIndicators allItems}}}
        </ol>
        <div class="carousel-inner">
          {{{getSlideImages allItems}}}
        </div>
        <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <a href="https://api.whatsapp.com/send?phone=573046456220&text=Hola!%20deseo%20información"
             class="whatsapp" target="_blank"> <i class="fa fa-whatsapp whatsapp-icon"></a>
  </div>
</div>
{{>footer}}
