{{>header}}

<div class="container">
  <form method="post" action="/search-contact" class="searchContact">
    <div class="card">
      <div class="card-header bg-secondary h5">
        <!--ROW 1-->
        <div class="form-row">
          <div class="col">
            <h5 class="card-title">Buscar contactos</h5>
          </div>
          <div class="col-2">
            <div class="input-group mb-3">
              <button class="btn btn-success my-3 my-sm-0 searchContact" type="submit">
              <span class="input-group-addon"><i class="fa fa-search fa-1x fa-fw" aria-hidden="true"></i></span>
              Buscar
              </button>
            </div>
          </div>
          <div class="col-3">
            <div class="input-group mb-3">
              <a class="btn btn-dark" onclick="clearField('cellPhoneToSearch');" role="button">
                <span class="input-group-addon"><i class="fa fa-eraser fa-1x fa-fw" aria-hidden="true"></i></span>
                Limpiar
              </a>
            </div>
          </div>
        </div><!--ROW 1-->
      </div>
    </div>
    <div class="card-body bg-dark">
      <!--ROW 1-->
      <div class="form-row">
        <div class="col">
          <label for="labelCellPhoneNumber" class="text-light">Número celular</label>
          <div class="input-group mb-3">
            <span class="input-group-addon">
              <i class="fa fa-whatsapp fa-3x fa-fw" aria-hidden="true" style="color:#4FCE5D"></i>
            </span>
            &nbsp;
            <input type="tel" class="form-control-lg text-white bg-dark" id="cellPhoneToSearch" name="cellPhoneToSearch"
                placeholder="311-123-4567" required
                pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                maxlength="12"
                onkeypress="onkeypressCellPhoneField(event, 'cellPhoneToSearch');"
                {{#if contact}}
                value="{{contact.cellPhoneNumber}}"
                {{/if}}
                >
          </div>
          <small class="form-text text-light">
            (*) Sólo números
          </small>
        </div>
      </div><!--ROW 1-->
    </div><!--CARD BODY-->
  </form>

  </br>
  <!--Success message -->
  {{#if successMsg}}
    {{>messageSuccess}}
  {{/if}}

  <form action="/contact-put" method="post" class="updateContact" id="formContactUptade" name="formContactUptade">
    <input type="hidden" name="_contactId" id="_contactId"
      {{#if contact}}
      value="{{contact._id}}"
      {{/if}}
    >
    <div class="card">
      <div class="card-header bg-secondary h5">
        {{#if contact}}
        <!--ROW 1-->
        <div class="form-row">
          <div class="col">
            <h5 class="card-title">Cotacto encontrado</h5>
          </div>
          <div class="col">
            <button class="btn btn-success my-3 my-sm-0 updateContact" type="submit">
            <span class="input-group-addon"><i class="fa fa-pencil-square-o fa-1x fa-fw" aria-hidden="true"></i></span>
            Actualizar
            </button>
          </div>
          <div class="col">
            <a class="btn btn-success" href="/partner?cell={{contact.cellPhoneNumber}}" role="button">
            <span class="input-group-addon"><i class="fa fa-handshake-o fa-1x" aria-hidden="true"></i></span>
            Asociar
            </a>
          </div>
        </div>
        {{else}}
        <h5 class="card-title">Contacto no encontrado</h5>
        {{/if}}

      </div>
    </div>
    {{>contactAdditionalInfo}}
  </form>


</div><!--CONTAINER-->
{{>footer}}
