{{>header}}
</br>

<div class="container">
  {{#unless session}}
    <form method="post" action="/login" class="searchContact">
        {{>loginView}}
    </form>
    </br>
  {{/unless}}

  {{#if commit}}
    {{>commitPurchase}}
  {{/if}}

  {{#if delivery}}
    {{>wayToDelivery}}
  {{/if}}

  {{#if payment}}
    {{>payment}}
  {{/if}}
</div> <!--container-->

{{>footer}}
