{{>header}}
</br>

<div class="container">
  {{#unless session}}
    <form method="post" action="/login" class="searchContact">
        {{>loginView}}
    </form>
    </br>
    {{#if warningMsg}}
      {{>messageWarning}}
    {{/if}}
  {{/unless}}

  <div class="card-header">
    <a href="/formStore?servicePlaceId={{servicePlace._id}}">
      <h5 class="card-title text-center">{{servicePlace.name}}</h5>
    </a>
  </div>
  <!--ROW 1-->
  <div class="form-row">
    <div class="col">
      <a class="btn btn-link text-muted" style="font-size: 25px"
        href="/"
        role="button">Volver
      </a>
    </div>
  </div><!--ROW 1-->

  {{#if stickersByServicePlace}}
    <div class="card-header bg-secondary h">
      <span class="input-group-addon"><i class="fa fa-comments-o fa-1x fa-fw" style="color:white"></i></span>
      <h class="card-title">Anuncios</h>
    </div>
  {{/if}}
  {{#each stickersByServicePlace}}
    {{>cardView header=header title=title text=text}}
    </br>
  {{/each}}

  {{#if items}}
    <div class="card-header bg-secondary h">
      <span class="input-group-addon"><i class="fa fa-cutlery fa-1x fa-fw" style="color:white"></i></span>
      <h class="card-title">Nuestros platos</h>
    </div>
  {{/if}}

  {{#if session}}
    {{>itemsStoreSession}}
  {{else}}
    {{>itemsStore}}
  {{/if}}

  <!--ROW 1-->
  <div class="form-row">
    <div class="col">
      <a class="btn btn-link text-muted" style="font-size: 25px"
        href="/"
        role="button">Volver
      </a>
    </div>
  </div><!--ROW 1-->
</div>

{{>footer}}
