{{#each items}}
  <!--ROW 1-->
  <div class="form-row">
    <div class="col">
      <div class="card text-center text-white bg-dark mb-3">
        </br>
        {{{getImageFromItem this}}}
        <div class="card-body">
          <h5 class="card-title text-white-50">$ {{price_string}}</h5>
          <h5 class="card-title">{{name}}</h5>
          <p class="card-text">{{description}}</p>
        </div>
      </div><!--center-->
    </div><!--col-->
  </div><!--row-->
{{/each}}
