<div class="form-row">
  <div class="col">
    <ul class="progressbar">
      <a href="/formPurchase?step=1">
      {{#if commit}}
        <li class="active"><i class="fa fa-cart-plus fa-4x" aria-hidden="true"></i></li>
        <!-- <li class="active">Compra</li> -->
      {{else}}
       <li><i class="fa fa-cart-plus fa-4x" aria-hidden="true"></i></li>
      {{/if}}
      </a>
      <a href="/formPurchase?step=2">
      {{#if wayToDelivery}}
       <li class="active"><i class="fa fa-bicycle fa-4x" aria-hidden="true"></i></li>
      {{else}}
       <li><i class="fa fa-bicycle fa-4x" aria-hidden="true"></i></li>
      {{/if}}
      </a>
      <a href="/formPurchase?step=3">
        {{#if payment}}
          <li class="active"><i class="fa fa-money fa-4x" aria-hidden="true"></i></li>
        {{else}}
          <li><i class="fa fa-money fa-4x" aria-hidden="true"></i></li>
        {{/if}}
      </a>
       <li><i class="fa fa-check-circle fa-4x" aria-hidden="true"></i></li>
       <li><i class="fa fa-hourglass fa-4x" aria-hidden="true"></i></li>
    </ul>
  </div>
</div>
